[run]
omit =
    .venv/*
    conf/wsgi.py
    conf/settings.py
    manage.py
    **/tests/*
    *__init__*
    */admin.py
    */migrations/*
    conftest.py
    sso/conftest.py
    sso/core/signals.py
