dj-database-url==0.4.1
django==1.11.15
django-allauth==0.33.0
django-environ==0.4.5
djangorestframework==3.4.7
django-oauth-toolkit==1.0.0
django-cors-headers==1.3.1
django-filter==1.0.4
django-extensions==1.9.0
django-pglocks==1.0.2
whitenoise==3.3.0
gunicorn==19.5.0
psycopg2==2.7.6.1
raven==5.19.0
boto3
tldextract==2.0.2
django-redis==4.8.0
redis==2.10.5
redis-py-cluster==1.3.4
django-health-check==3.0.0
notifications-python-client
sigauth==4.0.1
directory-constants>=11.0.0,<12.0.0
directory-api-external==5.0.0
directory-validators==5.0.1
directory-healthcheck==0.6.0
directory-components==3.6.1
requests[security]>=2.20.1,<3.0.0
