-r requirements.in

pytest==7.3.1
pytest-cov
pytest-django==4.5.2
pytest-sugar
django-debug-toolbar==3.2.4
factory-boy
freezegun
pytest-xdist
faker==8.4.0
pytest-codecov
GitPython>=3.1.41

# Pinned because pre-commit features specific versions
black==24.3.0
blacken-docs==1.6.0
isort==5.6.4
flake8==3.8.4
pre-commit-hooks==3.3.0