dj-database-url
django
django-allauth
djangorestframework
django-oauth-toolkit==1.1.2
django-cors-headers
django-filter
django_extensions
django-pglocks
whitenoise
gunicorn
psycopg2
raven
boto3
tldextract
django-redis
redis
django-health-check
notifications-python-client
directory-constants
sigauth
directory-api-external
directory-validators
directory-healthcheck
directory-components
export-elements
django-admin-ip-restrictor
