-r requirements.in

pytest>=4.4.0,<5.0.0
pytest-cov
pytest-django>=3.5.1,<4.0.0
pytest-sugar
factory-boy
codecov==2.1.7
freezegun
pytest-xdist

# Pinned because pre-commit features specific versions
black==20.8b1
blacken-docs==1.6.0
isort==5.6.4
flake8==3.8.4
pre-commit-hooks==3.3.0
