dj-database-url==0.5.0
django==2.2.19
django-allauth==0.40.0
django-environ==0.4.5
djangorestframework==3.12.2
django-oauth-toolkit==1.2.0
django-filter==2.2.0
django-extensions==2.2.5
django-pglocks==1.0.3
whitenoise==4.1.4
gunicorn==20.0.4
psycopg2-binary==2.8.4
sentry-sdk==0.13.4
boto3==1.10.23
tldextract==2.2.2
django-redis==4.10.0
notifications-python-client==5.4.1
pyjwt==1.7.0
sigauth==4.1.1
directory-api-client==22.5.0
directory-validators==6.0.5
directory-healthcheck==2.0.0
directory-components==36.1.0
requests[security]==2.25.1
urllib3>=1.24.2<2.0.0
django-cryptography==1.0
django-admin-ip-restrictor==2.1.0
django-staff-sso-client==1.0.0
celery[redis]==4.3.0
django-celery-beat==1.5.0
cryptography==3.3.2
django-sort-order-field==1.2
django_json_widget==1.1.1
