{% extends 'base.html' %}
{% block body %}
<div class="sso-error-page-container container">
    <h1 class="heading-xlarge sso-error-page-title">You do not have permission to view this page</h1>
    <ul class="list list-bullet sso-error-page-synopsis">
        <li>If this problem persists, please <a class="link" href="{{ directory_components_urls.feedback }}" title="report a broken link">report the problem</a>.</li>
        <li>Return to the <a class="link" href="{% url 'account_login' %}" title="return login">login page</a>.</li>
    </ul>
    <hr>
    <p class="sso-error-page-status">HTTP 403 Error Code - Forbidden</p>
</div>

{% endblock %}
