{% extends 'base.html' %}
{% block body %}
<div class="sso-error-page-container container">
    <h1 class="sso-error-page-title">Page not found</h1>
    <ul class="sso-error-page-synopsis">
        <li>If you typed in a web address, check if it was entered correctly.</li>
        <li>If you followed a link here, <a class="link" href="{% url 'external:feedback_sso' %}" title="report a broken link">report the broken link</a>.</li>
        <li>Return to the <a class="link" href="{% url 'account_login' %}" title="return login">login page</a>.</li>
    </ul>
    <hr>
    <p class="sso-error-page-status">HTTP 404 Error Code - Page not found</p>
</div>

{% endblock %}