{% extends 'base.html' %}
{% block body %}
<div class="sso-error-page-container container">
    <h1 class="sso-error-page-title">An unexpected error occurred</h1>
    <ul class="sso-error-page-synopsis">
        <li>If this problem persists, please <a class="link" href="{% url 'external:feedback_sso' %}" title="report a broken link">report the problem</a>.</li>
        <li>Return to the <a class="link" href="{% url 'account_login' %}" title="return login">login page</a>.</li>
    </ul>
    <hr>
    <p class="sso-error-page-status">HTTP 500 Error Code - Internal Server Error</p>
</div>

{% endblock %}