{% extends 'directory_components/base.html' %}

{% block body_content_container %}
    <main id="content" class="{% block css_layout_class %}sso-content outer-container{% endblock css_layout_class %}" role="main">
        <div class="span6">
            {% block body %}
                {% if messages %}
                    <div>
                        <strong>Messages:</strong>
                        <ul>
                            {% for message in messages %}<li>{{message}}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="input-field-container">
                  {% block content %}{% endblock %}
                </div>
            {% endblock %}
            {% block extra_body %}{% endblock %}
        </div>
    </main>
{% endblock %}
