{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}{% endblock %}

        <!--[if gt IE 8]><!--><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template.css' %}" media="screen" rel="stylesheet" /><!--<![endif]-->
        <!--[if IE 6]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie6.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 7]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie7.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 8]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie8.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-print.css' %}" media="print" rel="stylesheet" />

        <!--[if IE 8]><link href="{% static 'govuk-0.18.0/assets/stylesheets/fonts-ie8.css' %}" media="all" rel="stylesheet" /><![endif]-->
        <!--[if gte IE 9]><!--><link href="{% static 'govuk-0.18.0/assets/stylesheets/fonts.css' %}" media="all" rel="stylesheet" /><!--<![endif]-->
        <!--[if lt IE 9]><script src="{% static 'govuk-0.18.0/assets/javascripts/ie.js' %}"></script><![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'govuk-0.18.0/assets/images/favicon.ico' %}" type="image/x-icon" />
        <link rel="mask-icon" href="{% static 'govuk-0.18.0/assets/images/gov.uk_logotype_crown.svg' %}" color="#0b0c0c">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-60x60.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{% static 'govuk-0.18.0/assets/images/opengraph-image.png' %}">

        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'vendor/bootstrap/css/bootstrap-responsive.min.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
    </head>

    <body>

        <div id="skiplink-container">
            <div>
                <a href="#content" class="skiplink">Skip to main content</a>
            </div>
        </div>

        <header class="sso-header">
            <div class="row-fluid sso-header-level-one">
                <div class="container">
                    <ul class="pull-right">
                        <li>
                            <a href="#">Export Opportunities</a>
                        </li>
                        <li>
                            <a href="#">Find a Buyer</a>
                        </li>
                        <li>
                            <a href="#">Selling Online Overseas</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                          <a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                          <a href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li>
                          <a href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row-fluid sso-header-level-two">
                <div class="container">
                    <img class="pull-left" height="83px" src="{% static 'images/exporting_is_great.png' %}" />
                    <span>
                        <ul class="pull-right">
                            <li>
                                <a href="#">New to Exporting </a>
                            </li>
                            <li>
                                <a href="#">Occasional Exporter</a>
                            </li>
                            <li>
                                <a href="#">Regular Exporter</a>
                            </li>
                        </ul>
                    </span>
                </span>
            </div>
        </header>

        <div id="content" class="sso-content container">
          <div class="span6">
            {% block body %}
                {% if messages %}
                    <div>
                      <strong>Messages:</strong>
                      <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                    <div class="input-field-container">
                      {% block content %}{% endblock %}
                    </div>
                    {% endblock %}
                    {% block extra_body %}
                    <script src="{% static 'govuk-0.18.0/assets/javascripts/govuk-template.js' %}"></script>
              </div>
            {% endblock %}
        </div>

        <footer class="group sso-footer" id="footer" role="contentinfo">
            <div class="container">
                <div class="row-fluid">
                    <span class="span3">
                        <img src="{% static 'images/HM_Government_logo.png' %}" />
                    </span>
                    <span class="span3"></span>
                    <span class="span3">
                        <ul>
                            <li>
                                <a href="#">Export Opportunities</a>
                            </li>
                            <li>
                                <a href="#">Find a Buyer</a>
                            </li>
                            <li>
                                <a href="#">Advice and support</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                        </ul>
                    </span>
                    <span class="span3">
                        <ul>
                            <li>
                                <a href="#">Department for International Trade</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Privacy and cookies</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </footer>

    </body>
</html>
