
.sso-error-page-container {
  color: #4a4a4a
}

.sso-error-page-container .sso-error-page-title {
  margin-top: 40px;
  margin-bottom: 40px
}

.sso-error-page-container ul.sso-error-page-synopsis {
  margin: 0
}

.sso-error-page-container ul.sso-error-page-synopsis li {
  margin-bottom: 10px
}

.sso-error-page-container .sso-error-page-status {
  padding-bottom: 40px
}

.sso-error-page-container hr {
  border-bottom: 1px solid #4f0b7b
}
