// FORMS

button.button {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58em;
  font-weight: 800;
  padding: 10px 45px;
  text-decoration: none;
}

.secondary-action {
  line-height: 2.5em;
  height: 50px;
  @media (min-width: 640px) {
    margin-left: 20px;
  }
}

form {
  @extend .form-group;
}

form > li {
  list-style: none;
}

form .errorlist {
  border-left: none;
}

form .helptext {
  color: #899093;
  line-height: 1.25;
  margin-bottom: 20px;
}

form .helptext ul {
  margin-top: 10px;
}

form .helptext li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

form .helptext li:before {
  color: #899093;
  content: '\25CF';
  left: 0;
  margin-right: 10px;
  position: absolute;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  border-color: #007EA3;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  color: #4a4a4a;
}

button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 3px solid #ffbf47;
  -webkit-box-shadow: none
}

label, input, button, select, textarea {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4
}


.checkbox {
  padding-left: 40px;
  position: relative;
  label {
    margin-left: 10px;
    padding-top: 4px;
  }
  input {
    height: 38px;
    left: -2px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -5px;
    width: 38px;
    -webkit-appearance: none;
  }
}

.checkbox {
  @extend .checkbox;
}

.multiple-choice [type=checkbox] + label::before {
  background-color: white;
}

.checkbox input:focus + label:before  {
  outline: 3px solid #ffbf47;
}

.checkbox label:before {
  content: "";
  border: 2px solid #4a4a4a;
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 34px;
  z-index: -1;
}

.data-form .form-control {
  width: 100%;
  max-width: 500px
}

.data-form .radio-group {
  overflow: hidden
}

.data-form .save-button {
  background: #00549F;
  margin: 30px 0
}

.form-group .subfield input {
  width: 20%
}

.form-group .subfield .suffix {
  font-weight: bold
}

.form-group.postcode input {
  width: 8em;
  max-width: 100%
}

.form-group.contact-number input {
  width: 11em;
  max-width: 100%
}

.form-field.checkbox {
  margin-top: 8px;
}

.input-field-container {
  margin-bottom: 40px
}

.input-field-container label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.input-field-container input,
.input-field-container select,
.input-field-container textarea {
  @extend .form-control;
}

.input-field-container p {
  @extend .form-group;
}

#content {
  form {
    padding: 0;
    input {
      width: 100%;
      // moves the input box behind the label
      z-index: -1;
    }
  }
  a.button {
    height: 50px;
    line-height: 1.5em;
    &:focus:active {
      background-color: #005fb3;
    }
  }
}

#login-form-container {
  section {
    padding: 0;
    overflow: inherit;
  }
}
#login-form {
  margin-bottom: 50px;
}

.input-field-container.has-error ul.errorlist {
  margin: 0 0 10px;
  padding: 0;
}

.input-field-container.has-error ul.errorlist li {
  color: #b10e1e;
  font-weight: 600;
}

.input-field-container.has-error input,
.input-field-container.has-error select,
.input-field-container.has-error textarea {
  border: 3px solid #B00D23;
}

.input-field-container select {
  height: 50px;
  width: 100%
}

.input-field-container textarea {
  min-height: 200px
}

.input-field-container input[type='file'] {
  border: 0
}

.input-field-container li {
  margin-bottom: 30px
}

.input-field-container.has-error {
  border-left: 5px solid #B00D23;
  padding-left: 15px;
  list-style: none;
}

.login {
  margin-top: 20px;
}

.primaryAction.button {
  margin-top: 20px;
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both
}

.sso-form-classification-container li {
  margin-bottom: 0
}

@media (min-width: 640px) {
  .multiple-choice {
    width: 100%;
  }
}
