
// Register/sign up page

#profile-register-intro ul {
  list-style-type: initial;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#profile-register-intro li {
  margin-bottom: 0;
}

#profile-register-intro h1 {
  margin-bottom: 20px;
}

#profile-register-intro {
  font-size: 16px;
  color: #333333;
}
