@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Overpass:400,800);
form > li {
  list-style: none;
}

form .errorlist {
  border-left: none;
}

form .helptext {
  color: #899093;
  display: inline-block;
  line-height: 1.25;
  margin-bottom: 20px;
}

form .helptext ul {
  margin-top: 10px;
}

form .helptext li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

form .helptext li:before {
  color: #899093;
  content: '\25CF';
  left: 0;
  margin-right: 10px;
  position: absolute;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  border-color: #007EA3;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  color: #4a4a4a;
}

button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 3px solid #ffbf47;
  -webkit-box-shadow: none;
}

input[type="submit"], button {
  width: auto;
  background-color: #00549F;
  padding: .5em;
  border: none;
  border-radius: 0;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

label, input, button, select, textarea {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.checkbox {
  padding-left: 40px;
  position: relative;
}

.checkbox input {
  height: 38px;
  left: -2px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: -5px;
  width: 38px;
  -webkit-appearance: none;
}

.checkbox input:checked + label:after {
  content: "";
  border-color: #4a4a4a;
  border-style: solid;
  border-width: 0 0 5px 5px;
  height: 10px;
  left: 7px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  width: 21px;
  z-index: -1;
}

.checkbox input:focus + label:before {
  outline: 3px solid #ffbf47;
}

.checkbox label:before {
  content: "";
  border: 2px solid #4a4a4a;
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 34px;
  z-index: -1;
}

.data-form .form-control {
  width: 100%;
  max-width: 500px;
}

.data-form .radio-group {
  overflow: hidden;
}

.data-form .save-button {
  background: #00549F;
  margin: 30px 0;
}

.form-group .subfield input {
  width: 20%;
}

.form-group .subfield .suffix {
  font-weight: bold;
}

.form-group.postcode input {
  width: 8em;
  max-width: 100%;
}

.form-group.contact-number input {
  width: 11em;
  max-width: 100%;
}

.form-field.checkbox {
  margin-top: 8px;
}

.input-field-container {
  margin-bottom: 40px;
}

.input-field-container label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.input-field-container input,
.input-field-container select,
.input-field-container textarea {
  border-radius: 0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  color: #4a4a4a;
  background-color: #fafafa;
  border: 3px solid #6f777b;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.input-field-container.has-error ul.errorlist {
  margin: 0 0 10px;
  padding: 0;
}

.input-field-container.has-error ul.errorlist li {
  color: #b10e1e;
  font-weight: 600;
}

.input-field-container.has-error input,
.input-field-container.has-error select,
.input-field-container.has-error textarea {
  border: 3px solid #B00D23;
}

.input-field-container select {
  height: 50px;
  width: 100%;
}

.input-field-container textarea {
  min-height: 200px;
}

.input-field-container input[type='file'] {
  border: 0;
}

.input-field-container li {
  margin-bottom: 30px;
}

.input-field-container.has-error {
  border-left: 5px solid #B00D23;
  padding-left: 15px;
  list-style: none;
}

.login {
  margin-top: 20px;
}

.primaryAction.button {
  margin-top: 20px;
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both;
}

.sso-form-classification-container li {
  margin-bottom: 0;
}

#profile-register-intro ul {
  list-style-type: initial;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#profile-register-intro li {
  margin-bottom: 0;
}

#profile-register-intro h1 {
  margin-bottom: 20px;
}

#profile-register-intro {
  font-size: 16px;
  color: #333333;
}

.sso-error-page-container {
  color: #4a4a4a;
}

.sso-error-page-container .sso-error-page-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sso-error-page-container ul.sso-error-page-synopsis {
  margin: 0;
}

.sso-error-page-container ul.sso-error-page-synopsis li {
  margin-bottom: 10px;
}

.sso-error-page-container .sso-error-page-status {
  padding-bottom: 40px;
}

.sso-error-page-container hr {
  border-bottom: 1px solid #4f0b7b;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

body h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
}

body h2 {
  font-size: 26px;
}

body #content {
  padding-bottom: 0;
}

body #content .container form {
  margin-bottom: 0;
}

.sso-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sso-content > .span6 {
  margin: 0;
}

#skiplink-container a.skiplink {
  background: #007EA3;
  color: #ffffff;
}

@media (max-width: 979px) {
  html {
    padding: 0;
  }
  .container {
    max-width: 960px;
    width: 100%;
  }
  body {
    padding: 0;
  }
  body .container {
    max-width: 960px;
    padding: 0 20px;
    width: 100%;
  }
}

/*# sourceMappingURL=sourcemaps/main.css.map */
