@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Overpass:400,800);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#footer ul {
  list-style: none;
}

#header-cookie-notice .container {
  width: auto;
}

#menu p, #menu .body-text {
  margin: 0;
}

body {
  background-color: #fafafa;
}

body h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
}

body h2 {
  font-size: 26px;
}

body #content {
  padding: 30px 0 45px;
  margin: 0 auto;
  max-width: 1200px;
}

body #content .container form {
  margin-bottom: 0;
}

.sso-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sso-content > .span6 {
  margin: 0;
}

#skiplink-container a.skiplink {
  background: #007EA3;
  color: #ffffff;
}

@media (max-width: 979px) {
  html {
    padding: 0;
  }
  body {
    padding: 0;
  }
}

button.button {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58em;
  font-weight: 800;
  padding: 10px 45px;
  text-decoration: none;
}

.secondary-action {
  line-height: 2.5em;
  height: 50px;
}

@media (min-width: 640px) {
  .secondary-action {
    margin-left: 20px;
  }
}

form > li {
  list-style: none;
}

form .errorlist {
  border-left: none;
}

form .helptext {
  color: #899093;
  line-height: 1.25;
  margin-bottom: 20px;
}

form .helptext ul {
  margin-top: 10px;
}

form .helptext li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

form .helptext li:before {
  color: #899093;
  content: '\25CF';
  left: 0;
  margin-right: 10px;
  position: absolute;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  border-color: #007EA3;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  color: #4a4a4a;
}

button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 3px solid #ffbf47;
  -webkit-box-shadow: none;
}

label, input, button, select, textarea {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.checkbox {
  padding-left: 40px;
  position: relative;
}

.checkbox label {
  margin-left: 10px;
  padding-top: 4px;
}

.checkbox input {
  height: 38px;
  left: -2px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: -5px;
  width: 38px;
  -webkit-appearance: none;
}

.multiple-choice [type=checkbox] + label::before {
  background-color: white;
}

.checkbox input:focus + label:before {
  outline: 3px solid #ffbf47;
}

.checkbox label:before {
  content: "";
  border: 2px solid #4a4a4a;
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 34px;
  z-index: -1;
}

.data-form .form-control, .data-form .input-field-container input, .input-field-container .data-form input,
.data-form .input-field-container select, .input-field-container .data-form select,
.data-form .input-field-container textarea, .input-field-container .data-form textarea {
  width: 100%;
  max-width: 500px;
}

.data-form .radio-group {
  overflow: hidden;
}

.data-form .save-button {
  background: #00549F;
  margin: 30px 0;
}

.form-group .subfield input, form .subfield input, .input-field-container p .subfield input {
  width: 20%;
}

.form-group .subfield .suffix, form .subfield .suffix, .input-field-container p .subfield .suffix {
  font-weight: bold;
}

.form-group.postcode input, form.postcode input, .input-field-container p.postcode input {
  width: 8em;
  max-width: 100%;
}

.form-group.contact-number input, form.contact-number input, .input-field-container p.contact-number input {
  width: 11em;
  max-width: 100%;
}

.form-field.checkbox {
  margin-top: 8px;
}

.input-field-container {
  margin-bottom: 40px;
}

.input-field-container label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

#content form {
  padding: 0;
}

#content form input {
  width: 100%;
  z-index: -1;
}

#content a.button {
  height: 50px;
  line-height: 1.5em;
}

#content a.button:focus:active {
  background-color: #005fb3;
}

#login-form-container section {
  padding: 0;
  overflow: inherit;
}

#login-form {
  margin-bottom: 50px;
}

.input-field-container.has-error ul.errorlist {
  margin: 0 0 10px;
  padding: 0;
}

.input-field-container.has-error ul.errorlist li {
  color: #b10e1e;
  font-weight: 600;
}

.input-field-container.has-error input,
.input-field-container.has-error select,
.input-field-container.has-error textarea {
  border: 3px solid #B00D23;
}

.input-field-container select {
  height: 50px;
  width: 100%;
}

.input-field-container textarea {
  min-height: 200px;
}

.input-field-container input[type='file'] {
  border: 0;
}

.input-field-container li {
  margin-bottom: 30px;
}

.input-field-container.has-error {
  border-left: 5px solid #B00D23;
  padding-left: 15px;
  list-style: none;
}

.login {
  margin-top: 20px;
}

.primaryAction.button {
  margin-top: 20px;
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both;
}

.sso-form-classification-container li {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .multiple-choice {
    width: 100%;
  }
}

#profile-register-intro ul {
  margin-top: 20px;
}

#profile-register-intro li {
  margin-bottom: 0;
}

.sso-error-page-container {
  color: #4a4a4a;
}

.sso-error-page-container .sso-error-page-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sso-error-page-container ul.sso-error-page-synopsis {
  margin: 0;
}

.sso-error-page-container ul.sso-error-page-synopsis li {
  margin-bottom: 10px;
}

.sso-error-page-container .sso-error-page-status {
  padding-bottom: 40px;
}

.sso-error-page-container hr {
  border-bottom: 1px solid #4f0b7b;
}

/*# sourceMappingURL=sourcemaps/main.css.map */
