html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

html input:focus:invalid:focus,
html textarea:focus:invalid:focus,
html select:focus:invalid:focus {
    border-color: #007EA3;
}

html input:focus:invalid,
html textarea:focus:invalid,
html select:focus:invalid {
  color: #4a4a4a;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    -webkit-box-shadow: none
}
ul.errorlist li,
.sso-header li,
.sso-footer li {
   list-style: none;
}
ul.errorlist.nonfield {
  padding-bottom: 0;
}

.sso-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sso-content > .span6 {
   margin: 0;
}

.data-form .form-control {
    width: 100%;
    max-width: 500px
}

.data-form .radio-group {
    overflow: hidden
}

.data-form .save-button {
    background: #00549F;
    margin: 30px 0
}

.form-group .subfield input {
    width: 20%
}

.form-group .subfield .suffix {
    font-weight: bold
}

.form-group.postcode input {
    width: 8em;
    max-width: 100%
}

.form-group.contact-number input {
    width: 11em;
    max-width: 100%
}

.list-inset {
    list-style-type: circle;
    margin-left: 2.5em
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px
}

.panel--great {
    background: #F2EEE8;
    margin-top: 30px;
    padding: 1px 15px
}

.exporting-logo {
    margin-bottom: 30px
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .clearfix {
    zoom: 1
}

*:first-child+html .clearfix {
    zoom: 1
}

.a11y {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.one-line-truncate {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 25.2px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.two-line-truncate {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 50.4px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.three-line-truncate {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 75.6px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.external-link-white {
    text-decoration: none;
    word-break: break-all
}

.arrow-link {
    padding: 0;
    text-transform: none;
    border: 0;
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    font-size: 1em
}

.external-link-white:after {
    content: "";
    width: 12px;
    height: 12px;
    background: url(images/external-link-white.svg) no-repeat;
    background-size: 12px 12px;
    display: inline-block;
    margin-left: .5em
}

.bold {
    font-weight: 600
}

a.teal {
    color: #007ea3;
    border-bottom: 1px solid #007ea3
}

a.teal:hover {
    border-bottom: 1px dashed #007ea3;
    text-decoration: none
}

a.white-link {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none
}

a.white-link:hover {
    border-bottom: 1px dashed #fff
}

#skiplink-container a.skiplink,
a.teal:focus {
    background: #007EA3;
    color: #ffffff
}

.custom-hr {
    border-top: 0
}

.font-white {
    color: #fff
}

.font-weight-medium {
    font-weight: 500
}

.font-size-15 {
    font-size: 15px
}

label,
input,
button,
select,
textarea {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4
}

.input-field-container {
    margin-bottom: 40px
}

.input-field-container label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400
}

.input-field-container input,
.input-field-container select,
.input-field-container textarea {
    border-radius: 0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    color: #4a4a4a;
    background-color: #fafafa;
    border: 3px solid #6f777b;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif
}

.input-field-container input:focus,
.input-field-container select:focus,
.input-field-container textarea:focus {
    border: 3px solid #007EA3
}

.input-field-container input[type='checkbox'] {
    height: 14px;
    width: 14px
}

.input-field-container select {
    height: 50px;
    width: 100%
}

.input-field-container textarea {
    min-height: 200px
}

.input-field-container input[type='file'] {
    border: 0
}

.input-field-container li {
    margin-bottom: 30px
}

.input-field-container.has-error {
    border-left: 5px solid #B00D23;
    padding-left: 15px
}

ul.errorlist {
    border-left: 5px solid #B00D23;
    padding-left: 15px;
    margin: 0;
    padding-bottom: 10px;
    color: #b10e1e;
    font-weight: 600;
}

.input-field-container.has-error ul.errorlist {
    margin: 0 0 10px;
    padding: 0;
}

.input-field-container.has-error ul.errorlist li {
    color: #b10e1e;
    font-weight: 600;
}


.input-field-container.has-error input,
.input-field-container.has-error select,
.input-field-container.has-error textarea {
    border: 3px solid #B00D23;
}

.btn-container {
    margin-bottom: 30px;
    margin-top: 30px
}

.btn-container .button {
    background-color: #00549F;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 21px 24px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-weight: 500;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1;
    font-family: 'Roboto', sans-serif
}

input[type="submit"], button {
  width: auto;
  background-color: #00549F;
  padding: .5em;
  border: none;
  border-radius: 0;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}
input[type="submit"], button:focus {
  background: #007EA3;
  outline: 0;
}


.btn-container .button:focus {
    background: #007EA3;
    outline: 0
}

.checkbox-txt {
    margin-left: 20px
}

.great-britain-logo {
    margin: 0 0 20px;
    max-width: 100px
}

.great-britain-logo img {
    width: 100%;
    height: auto
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px
}

@media (max-width: 979px) {
    body {
        padding: 0
    }
    body .container {
        max-width: 960px;
        padding: 0 20px;
        width: 100%
    }
}

body h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 50px
}

body h2 {
    font-size: 26px
}

@media (min-width: 979px) {
    body .container {
        max-width: 960px;
        width: 100%
    }
}

body #content {
    padding-bottom: 0
}

body #content .container .enrolment-intro-container {
    margin-bottom: 20px;
    margin-top: 70px
}

body #content .container .enrolment-intro-container .enrolment-intro {
    padding: 0
}

body #content .container form {
    margin-bottom: 0
}

body #content .container form .connections-platform-form ul.errorlist li {
    float: none;
    width: 100%
}

body #content .container form .connections-platform-form ul li {
    float: left;
    width: 33%
}

@media (min-width: 979px) and (max-width: 1200px) {
    body #content .container form .connections-platform-form ul li {
        float: left;
        width: 50%
    }
}

@media (max-width: 979px) {
    body #content .container form .connections-platform-form ul li {
        float: left;
        width: 100%
    }
}

body #content .container .registered,
body #content .container .sorry {
    margin-bottom: 150px;
    margin-top: 150px;
    padding: 40px
}

body #content .container .registered h1,
body #content .container .registered h2,
body #content .container .sorry h1,
body #content .container .sorry h2 {
    margin-bottom: 20px
}

#secondaryNav {
    font-size: 15px
}

.sso-header .level-one-container {
    text-align: right
}

.sso-header .level-one-container ul li a {
    font-weight: 400;
    padding-bottom: 2px
}

.sso-header ul {
    display: inline-block;
    margin: 0
}

.sso-header ul.header-nav-links {
    float: right;
    height: 72px;
    margin-top: 5px
}

.sso-header ul.header-nav-links li {
    line-height: 72px
}

.sso-header ul.header-nav-links li a {
    color: white;
    font-size: 15px;
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 4px
}

.sso-header ul.header-nav-links li a:focus {
    background: #007EA3;
    color: #ffffff
}

.sso-header ul.header-nav-links li a:hover {
    border-bottom: 4px solid #dce0df
}

.sso-header ul.header-nav-links li a.active {
    border-bottom: 4px solid #b00d23
}

.sso-header ul.header-nav-links li a.active:hover {
    border-bottom: 4px solid #dce0df
}

@media (min-width: 979px) {
    .sso-header ul {
        list-style-type: none
    }
}

.sso-header ul li {
    display: inline;
    margin-right: 20px
}

.sso-header ul li:last-child {
    margin-right: 0
}

.sso-header ul li a {
    color: white;
    border-bottom: 1px solid #777;
    font-size: 15px
}

.sso-header ul li a:focus {
    background: #007EA3;
    color: #ffffff
}

.sso-header ul li a:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none
}

.sso-header h3.our-services-top {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding: 2px 0px 0 0;
    margin: 0 20px 0 0
}

.sso-header .sso-header-level-one {
    background: #110B29
}

.sso-header .sso-header-level-one .container {
    max-width: 960px;
    padding: 0;
    width: 100%
}

@media (max-width: 960px) {
    .sso-header .sso-header-level-one {
        padding: 10px 20px
    }
    .sso-header .sso-header-level-one .hide-in-mobile {
        display: none
    }
}

.sso-header .sso-header-level-two {
    background: #1E1348;
    padding-top: 15px;
    padding-bottom: 14px
}

.sso-header .sso-header-level-two .header-main-logo {
    float: left
}

.sso-header .sso-header-level-two .eig-links {
    float: right
}

.sso-header .sso-header-level-two .eig-links nav .header-nav-links {
    height: 0;
    margin-top: -5px
}

@media (max-width: 960px) {
    .sso-header .sso-header-level-two .header-nav-links {
        display: none
    }
}

.sso-header .sso-header-mobile-view {
    display: none;
    padding: 0;
    width: 100%
}

@media (max-width: 960px) {
    .sso-header .sso-header-mobile-view {
        display: block
    }
}

.sso-header .sso-header-mobile-view .header-nav {
    padding: 0;
    text-align: left
}

.sso-header .sso-header-mobile-view .header-nav h3 {
    line-height: 23px;
    margin: 0;
    padding: 0
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav {
    list-style-type: none;
    width: 100%
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li {
    display: inline-block;
    list-style-type: none;
    border-bottom: 1px solid #777;
    border-bottom-color: rgba(220, 224, 223, 0.5);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 0;
    position: relative;
    width: 93%
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li a {
    border-bottom: 0;
    font-weight: 400
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li a.active:before {
    border: 6px solid #b00d23;
    content: '';
    height: 20px;
    left: -20px;
    position: absolute
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li a.active:hover:before {
    border-color: #dce0df
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li a:hover:before {
    border: 6px solid #fff;
    content: '';
    height: 20px;
    left: -20px;
    position: absolute
}

.sso-header .sso-header-mobile-view .header-nav ul.mobile-secondary-nav li:last-child {
    border-bottom: 0
}

.sso-header .sso-header-mobile-view .header-nav .background--indigo {
    background-color: #110b29
}

.sso-header .sso-header-mobile-view .header-nav .soft-half--left {
    padding-left: 10px
}

.sso-header .sso-header-mobile-view .header-nav .soft-half--sides {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px
}

.sso-header .sso-header-mobile-view .header-nav .soft--ends {
    padding-bottom: 20px;
    padding-top: 20px
}

.sso-hero-sub-header {
    color: white;
    min-height: 275px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(images/banner-img1.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.sso-hero-sub-header .sso-hero-sub-header-title h1 {
    margin-bottom: 20px
}

#footer.sso-footer {
    background: #1E1348;
    padding: 40px 40px 50px
}

@media (max-width: 960px) {
    #footer.sso-footer {
        padding: 40px 0
    }
    #footer.sso-footer .footer-section {
        border-top: 1px solid #fff;
        padding: 30px 0
    }
    #footer.sso-footer .container .grid-row {
        display: flex;
        flex-flow: column
    }
    #footer.sso-footer .container .grid-row .logo {
        order: 3;
        width: 100%
    }
    #footer.sso-footer .container .grid-row .links {
        margin-left: 0;
        order: 2;
        width: 100%
    }
    #footer.sso-footer .container .grid-row .subscribe {
        margin-left: 0;
        order: 1;
        width: 100%
    }
    #footer.sso-footer .container .grid-row .subscribe .footer-section {
        border-top: 0;
        padding-top: 0
    }
}

#footer.sso-footer .footer-wrapper {
    background: #1E1348
}

#footer.sso-footer ul li a {
    color: #fff;
    border-bottom: 1px solid #777
}

#footer.sso-footer ul li a:focus {
    background: #007EA3;
    color: #ffffff
}

#footer.sso-footer ul li a:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none
}

#footer.sso-footer .hmg-logo img {
    max-width: 250px
}

#footer.sso-footer .eig-logo-footer img {
    max-width: 200px
}

#footer.sso-footer p.copyright-text {
    color: #dce0df;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300
}

#footer.sso-footer .footer-img--top {
    margin-bottom: 10px
}

#footer.sso-footer h3.footer-header {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 30px
}

#footer.sso-footer ul.footer-links-container {
    margin: 0
}

#footer.sso-footer ul.footer-links-container li.footer-links {
    margin-bottom: 15px
}

#footer.sso-footer ul.footer-links-container li.footer-links a {
    font-size: 15px;
    font-weight: 400
}

.form-wrapper-btn-container {
    line-height: 3em;
    clear: both
}

.sso-form-classification-container li {
    margin-bottom: 0
}

.sso-error-page-container {
    color: #4a4a4a
}

.sso-error-page-container .sso-error-page-title {
    margin-top: 40px;
    margin-bottom: 40px
}

.sso-error-page-container ul.sso-error-page-synopsis {
    margin: 0
}

.sso-error-page-container ul.sso-error-page-synopsis li {
    margin-bottom: 10px
}

.sso-error-page-container .sso-error-page-status {
    padding-bottom: 40px
}

.sso-error-page-container hr {
    border-bottom: 1px solid #4f0b7b
}

.sso-international-success-container h1 {
    margin-top: 40px;
    margin-bottom: 40px
}

.sso-international-success-container .sso-international-success-synopsis {
    margin-bottom: 40px
}

body.js-enabled .js-header-nav-menu.js-header-nav-menu-hide {
    display: none
}

.header-nav-menu-toggle-button {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 5px
}

@media (min-width: 960px) {
    .header-nav-menu-toggle-button {
        display: none
    }
}

.sso-header-level-two .sso-header-image-container {
    position: relative
}

@media (max-width: 979px) {
    .sso-header-level-two .sso-header-image-container {
        padding-left: 5px
    }
}

@media (max-width: 640px) {
    .header-main-logo {
        width: 70%
    }
}

body.js-enabled .js-header-nav-menu.js-header-nav-menu-hide {
    display: none;
}
