{% extends 'base_email_cta.html' %}
{% load sso_validation %}

{% block cta_url %}
    {{ password_reset_url }}{% if request.GET.next|is_valid_redirect_domain %}?next={{request.GET.next}}{% endif %}
{% endblock %}
{% block cta_label %}Reset password{% endblock %}
{% block title %}Your GREAT.gov.uk export services account{% endblock %}
{% block synopsis %}
	You are receiving this email because you or someone else has requested a password for your user account. Click the link below to reset your password.
{% endblock %}
