{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Confirm email address - business.gov.uk" %}{% endblock %}

{% block content %}

{% breadcrumbs 'Sign in' %}
  <a href="{{ services_urls.great_domestic }}">Confirm email address</a>
{% endbreadcrumbs %}

<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% trans "Confirm email address" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}Confirm that <a class="link" href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>

    <form method="post" action="{{ form_url }}">
    {% csrf_token %}
        <button class="button" type="submit">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This email confirmation link expired or is invalid. <a href="{{ email_url }}">Request a new email confirmation link</a>.{% endblocktrans %}</p>

    {% endif %}

  </div>
</div>

{% endblock %}
