{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load breadcrumbs from directory_components %}
{% block head_title %}Sign in - great.gov.uk{% endblock %}
{% block head_other %}
  {{ block.super }}
  <meta name="robots" content="noindex">
  {% endblock %}
{% block content %}
{% breadcrumbs 'Sign in' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}
<div class="grid-row" id="login-form-container">
  <div class="column-half">
    <h1 class="heading-xlarge margin-bottom-15">Sign in</h1>
    <p>Use your great.gov.uk login details to sign in.</p>
    <section class="column-two-thirds" id="login-form">
      <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button" type="submit">Sign in</button>
        <a class="link secondary-action" href="{{ sso_reset_password_url }}">Forgotten password?</a>
      </form>
    </section>
  </div>

  <div class="column-half">
    <section>
      <h2 class="heading-xlarge margin-bottom-15">Create a great.gov.uk account</h2>
      <p>Create a great.gov.uk account and you'll get a business page to promote your business to overseas buyers.</p>
      <p>It takes less than three minutes to create an account.</p>
      <a class="button" href="{{ sso_register_url }}">Create account</a>
    </section>
  </div>
</div>

{% endblock %}
