{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign in - great.gov.uk" %}{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% trans "Sign in" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>Login with one
    of your existing third party accounts or <a href="{{ sso_register_url }}">register</a>
    for a {{ site.name }} account.</p>

    <div class="socialaccount_ballot">

      <ul class="list list-bullet socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p><a class="link" href="{{ sso_register_url }}">Register</a> if you don't have an account.</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button" type="submit">{% trans "Sign in" %}</button>
      <a class="link secondaryAction" href="{{ sso_reset_password_url }}">{% trans "Reset your password" %}</a>
    </form>

  </div>
</div>

{% endblock %}
