{% extends "account/base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Sign out - great.gov.uk" %}{% endblock %}

{% block content %}
{% breadcrumbs 'Log out' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}

<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% trans "Sign out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="button" type="submit">{% trans 'Sign out' %}</button>
    </form>

  </div>
</div>
{% endblock %}
