{% extends "account/base.html" %}
{% load external_url from constants_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>We will send a password reset link by email if there is an account registered for this address. Please <a href="{% external_url 'feedback_sso' %}" target="_self">contact us</a> if you do not receive it within a few minutes.</p>
{% endblock %}

