{% extends "account/base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% breadcrumbs 'Reset password' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}
<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">{% trans 'change password' %}</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
