{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Change your password - great.gov.uk" %}{% endblock %}

{% block content %}

{% breadcrumbs 'Change password' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}

<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% trans "Change your password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button" type="submit" name="action">{% trans "Change password" %}</button>

    </form>
  </div>
</div>
{% endblock %}
