{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password reset - great.gov.uk" %}{% endblock %}

{% block content %}

    <h1 class="heading-xlarge">{% trans "Password reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Enter the email address you used to register.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="button" type="submit">{% trans 'Reset my password' %}</button>
    </form>

    <p><a class="link" href="{{ directory_components_urls.feedback }}" target="_self">Contact us</a> if the password reset doesn't work.</p>
{% endblock %}
