{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Enter the email address you used to register to get a password reset link.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" value="{% trans 'Reset my password' %}" />
    </form>

    <p>Please <a href="{% url 'external:feedback_sso' %}" target="_self">contact us</a> if you have any trouble resetting your password.</p>
{% endblock %}
