{% extends "account/base.html" %}
{% load external_url from constants_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password reset - great.gov.uk" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<p>We've sent a password reset email. Click on the link to reset your password.</p>
<p><a href="{% external_url 'feedback_sso' %}" target="_self">Contact us</a> if you haven't received the email after 6 minutes.</p>
{% endblock %}

