{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Password reset email sent - great.gov.uk" %}{% endblock %}

{% block content %}
{% breadcrumbs 'Reset password' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}

<div class="grid-row">
  <div class="column-half">

    <h1 class="heading-xlarge">{% trans "Password reset email" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>We've sent a password reset email. Click on the link to reset your password.</p>
    <p><a class="link" href="{{ services_urls.feedback }}" target="_self">Contact us</a> if you haven't received the email within 10 minutes.</p>
  </div>
</div>
{% endblock %}
