{% extends "account/base.html" %}
{% load external_url from constants_tags %}
{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div id="profile-register-intro">
	<h1>{% trans "Register" %}</h1>

	<p>Create a great.gov.uk account and you can:</p>
	<ul>
		<li>gain access to worldwide exporting opportunities</li>
		<li>promote your business to international buyers</li>
	</ul>
</div>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Register" %} &raquo;</button>
</form>

{% endblock %}
