{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs from directory_components %}

{% block head_title %}{% trans "Register - great.gov.uk" %}{% endblock %}

{% block content %}
{% breadcrumbs 'Register' %}
  <a href="{{ services_urls.great_domestic }}">Great.gov.uk</a>
{% endbreadcrumbs %}
<div class="column-half">
<div id="profile-register-intro" class="grid-row">
    <h1 class="heading-xlarge">{% trans "Create an account" %}</h1>
    <p>To create an account you'll need a business email address. We'll send you an email with a code to verify it.</p>
    <p class="margin-bottom-30">Already have a great.gov.uk account? <a class="link" href="{{ sso_login_url }}">Sign in.</a></p>
  </div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <ul>
        {% for field in form.visible_fields %}
            <li class="{{ field.css_classes }}">
                {{ field.errors }}
                {{ field.label_tag }}
                {% if field.help_text %}
                <div class="grid-row">
                  <div class="helptext column-half">{{ field.help_text|safe }}</div>
                </div>
                {% endif %}
                {{ field }}
            </li>
        {% endfor %}
    </ul>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  <button class="button" type="submit">{% trans "Save and continue" %}</button>
</form>
</div>

{% endblock %}
