{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<h1>{% trans "Register" %}</h1>

<p>If you already have an Exporting is GREAT account, please <a href="{{ sso_login_url }}">login</a>.</p>
<p>Before you register, make sure you’re familiar with our guides for <a href="{% url 'constants:new_to_exporting' %}" target="_blank">new</a>, <a href="{% url 'constants:occasional_exporter' %}" target="_blank">occasional</a> and <a href="{% url 'constants:regular_exporter' %}" target="_blank">regular</a> exporters.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Register" %} &raquo;</button>
</form>

{% endblock %}
