{% extends "account/base.html" %}
{% load external_url from constants_tags %}
{% load i18n %}

{% block head_title %}{% trans "Verify your email address - great.gov.uk" %}{% endblock %}

{% block content %}
    <h1 class="heading-xlarge">{% trans "Verify your email address" %}</h1>

    <p>{% blocktrans %}We've sent you a confirmation email. Click on the link to verify your email address.{% endblocktrans %}</p>

    <p><a class="link" href="{{ feedback_sso }}" target="_self">Contact us</a> if you haven’t received the email within 10 minutes.</p>

{% endblock %}
