{% extends 'directory_components/base.html' %}

{% load staticfiles %}

{% block extra_head %}{% endblock %}

{% block head_js %}
    <script src="{% static 'Dit-Pattern-Styling/public/js/third-party.js' %}"></script>
    <script src="{% static 'Dit-Pattern-Styling/public/js/script.js' %}"></script>
{% endblock %}

{% block head_css %}
    <link href="{% static 'Dit-Pattern-Styling/public/css/main.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block body_js %}
    <script type="text/javascript" src="{% static 'javascripts/index.js' %}"></script>
    <script type="text/javascript">GOVUK.page.init();</script>
{% endblock %}
